  @media only screen and (max-width: 1600px) and (min-width: 1280px){
    html{
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 1280px) and (min-width: 960px){
    html{
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 960px){
    html{
      font-size: 10px;
    }
  }

body{
    position: relative;
    width:100xw;
    hieght：100vh
    margin: 0 auto;
    font-size: 1.5rem;
    left: 0;
    }
*{
border:0px solid red;
margin:0;
padding:0;
box-sizing:border-box;
}
h1{
width:40%;
font-size:2em;
}
h2{
font-size:1.5em;}
h3{font-size:1.5em;}
h4{
font-size:1.5em}
h5{
font-size:1em}
p{font-size:0.75em;}
/*浏览器整体布局 样式 */

.fl{
    display:flex;
    }
    .fc{
    flex-direction:column;
    }
    .fr{
    flex-direction:row;
    }
    .jcfs{
    justify-content:flex-start;
    }
    .jsfe{
    justify-content:flex-end;
    }
    .jssb{
    justify-content:space-between;
    }
    .jsse{
    justify-content:space-evenly;
    }
    .jcc{
    justify-content:center
    }
    .asc{
    align-self: center;
    }
.f1{
     flex:1;

    }
   .f2{
     flex:2;
    }
    .f3{
    flex:3
    }
    .f4{
     flex:4;
    }
    .f8{
    flex:8;}
    .fw{
    flex-wrap:wrap;
    }
     /*项目flex 基本样式 */
     .xmfb{
     width: 386px;
height: 486px;
box-shadow: 0px 0px 47px rgb(204, 204, 204, 0.83);
border-radius: 30px;
border-style: solid;
border-color: #1890ff;
     }
     .xmfbi{
     width: 386px;
height: 386px;
     }
.xmfbi-images img{
object-fit:contain；
width:100%;
height:100%;
}
    /*导航栏 基本样式 */
.dh{
height:60px
text-align:center;
background-color: #ffffff;
}

    /*导航栏logo 基本样式 */
.logo{
height:20px;
width:20px;
object-fit:contain

}
.logo img{
object-fit:contain
width:100%;
height:100%;

}
    /*公司图片样式 */
      .container {
        clip: rect(0, auto, auto, 0);
        overflow: hidden;
        position: absolute;
        height: 100vh;
        left: 0;
        width: 100%;
      }

      .container_solid {
        background: white;
        top: 0;
      }
            .title_wrapper {
        position: fixed;
        display: block;
        margin: auto;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }

      .title_wrapper h1 {
        text-align: center;
        font-size: 64px;
        text-transform: uppercase;
        text-align: center;
        font-family: "Fraunces", serif;
        font-weight: 900;
      }

      .container_solid .title_wrapper h1 {
        background: url("图片/公司16.9.png");
        background-size: 100vw auto;
        background-position: center;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }

      .container_image {
        background-image: url("图片/公司16.9.png");
        background-size: 100vw auto;
        background-position: center;
        background-attachment: fixed;
        top: 100vh;
      }

      .container_image .title_wrapper h1 {
        color: white;
      }

      section {
        min-height: 100vh;
        padding: 2em;
        margin: auto;
        max-width: 800px;
      }

.carou {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carou-images img {
    width: 100%;
    height: 100%;
    object-fit:contain;
box-shadow: 0px 0px 47px rgb(204, 204, 204, 0.83);

border-style: solid;
border-color: #1890ff;
}
/*项目图片样式 */
.carousel {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit:contain;

}
.carousel-images img.active {
    animation: slideIn 1s ease-in-out forwards;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/*颜色 样式 */
.ys0{
color:#ffffff}
.ysn{
color:#000000}
.ys1{
color:#e6f7ff}
.ys2{
color:#bae7ff}
.ys3{
color:#91d5ff}
.ys4{
color:#69c0ff}
.ys5{
color:#40a9ff}
.ys6{
color:#1890ff}
.ys7{
color:#096dd9}
.ys8{
color:#0050b3}
.ys9{
color:#003a8c}
.ys10{
color:#002766}
/*边框效果  */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.border-style-8 {
  position: relative;
  width: 100xw;
  height: 150px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    border-radius: 10px;
    background-image: conic-gradient(transparent, #096dd9, transparent 30%);
    background-position: 0 0;
    background-repeat: no-repeat;
    animation: rotate 2s linear infinite;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: -1;
    background: #ffffff;
    border-radius: 5px;
  }

  & > .content {
    padding: 10px;
  }
}
/*联系我们  */
.lbc{background-color:#E4E4E4;
}